# Analyis on the the Level of Happiness of the Employees.

#### Using Independent Variables to predict the Dependent Variables.


## Initial Analysis of the Data

In [2]:
import pandas as pd
data=pd.read_csv("Clean_data_level_of_happiness.csv")
data.head()

   Unit  Annual_Rt  Hrly_Rate  Full_Part  Yr_in_service  Lvl_of_Happiness
0     1  318000.00     152.88          1             16                 1
1     2  248491.82     119.47          1             13                 2
2     3  245924.30     118.23          1              6                 2
3     4  236042.01     113.48          1             13                 4
4     1  225500.00     108.41          1              6                 1

##### Unit is the kind of work of the employees

In [3]:
units=pd.read_csv("units.csv")
units.tail()

   Unit_code  Code_id
15       S&B       16
16      FIRE       17
17     CLERK       18
18     FRRET       19
19      M&CC       20

## What tool to use? 

##### Logistic Regression
##### 1. Binary dependent variables
##### 2. Ordinal dependent variables--> pwede din!!!!

### Assumptions ng Logistic Regression
##### 1. No missing data
##### 2.  There should be atleast 50 observations per predictor variable
##### 3. All predictors are independent to each other and to the dependent
##### 4. dependent variable is binary OR ordinal

### #1. No Missing data

In [4]:
data.isnull().sum()

Unit                0
Annual_Rt           0
Hrly_Rate           0
Full_Part           0
Yr_in_service       0
Lvl_of_Happiness    0
dtype: int64

### #2. There should be atleast 50 observations per predictor variable

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7454 entries, 0 to 7453
Data columns (total 6 columns):
Unit                7454 non-null int64
Annual_Rt           7454 non-null float64
Hrly_Rate           7454 non-null float64
Full_Part           7454 non-null int64
Yr_in_service       7454 non-null int64
Lvl_of_Happiness    7454 non-null int64
dtypes: float64(2), int64(4)
memory usage: 349.5 KB

### #3. All predictors are independent to each other
##### Prepare the variables first.

In [6]:
data_X=data.loc[:,["Unit","Annual_Rt","Hrly_Rate","Full_Part","Yr_in_service"]]
data_y=data.loc[:,["Lvl_of_Happiness"]]

##### this will be combinations of IV to IV     and      IV to DV
##### Units Vs Annual rate  -->  Dependent
##### Units Vs Hourly rate --> Dependent
##### Units Vs Fulltime or part time --> not possible. they are both separate entities. thus they are independent
##### Units Vs Yr_in_service -->not possible.  Same reason
##### Annual rate vs Hourly rate --> Dependent
##### Annual rate vs Full time or part time --> _________blank______
##### Annual rate vs Years in service --> independent 
##### Hourly rate vs Full_time or part time --> 
##### Annual rate vs Hourly rate


##### remove units, or Hourly rate or Annual Rate

In [10]:
import scipy 
from scipy.stats import spearmanr

##### Dependent variable is ordinal. ranges from 1 to 5.

In [11]:
data_y["Lvl_of_Happiness"].unique()

array([1, 2, 4, 5, 3], dtype=int64)

In [47]:
import numpy as np
from numpy import genfromtxt
my_data = genfromtxt('Clean_data_level_of_happiness.csv', delimiter=',')

my_data

array([[          nan,           nan,           nan,           nan,
                  nan,           nan],
       [1.0000000e+00, 3.1800000e+05, 1.5288000e+02, 1.0000000e+00,
        1.6000000e+01, 1.0000000e+00],
       [2.0000000e+00, 2.4849182e+05, 1.1947000e+02, 1.0000000e+00,
        1.3000000e+01, 2.0000000e+00],
       ...,
       [6.0000000e+00, 4.9230020e+04, 2.3670000e+01, 1.0000000e+00,
        1.0000000e+01, 2.0000000e+00],
       [1.5000000e+01, 4.9147150e+04, 2.3630000e+01, 1.0000000e+00,
        5.0000000e+00, 4.0000000e+00],
       [6.0000000e+00, 4.9115920e+04, 2.3610000e+01, 1.0000000e+00,
        7.0000000e+00, 1.0000000e+00]])

In [24]:
data_x_case1=data_X.loc[:,["Annual_Rt","Full_Part","Yr_in_service"]]
data_x_case2=data_X.loc[:,["Hrly_Rate","Full_Part","Yr_in_service"]]

In [51]:
y=my_data[["Lvl_of_Happiness"]].values()

C:\Users\rjrm\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  """Entry point for launching an IPython kernel.

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

##### Analysis TIme

In [25]:
import sklearn
from sklearn.preprocessing import scale
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing

In [29]:
x=scale(data_x_case1)

In [33]:
LogReg=LogisticRegression()

LogReg.fit(x,data_y)
print(LogReg.score(x,data_y))

0.21210088543064126

C:\Users\rjrm\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)